.container
  .row
    .col-md-6.col-md-offset-3
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Log In
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name),html: {role: "form", 'data-toggle': "validator"}) do |f|
            %fieldset
              = devise_error_messages!
              .form-group
                = f.label :email
                = f.email_field :email, class: 'form-control', autofocus: true, required: true,'data-error': "Please enter your email"
                .help-block.with-errors
              .form-group
                = f.label :password
                = f.password_field :password, autocomplete: "off", class: 'form-control', required: true,'data-error': "Please enter your password"
                .help-block.with-errors
              .actions
                = f.submit "Log In", class: "btn btn-success btn-block"
              .actions
                = render "users/shared/links"
